<!DOCTYPE html>
<html>

	<head>
	<title>Rango</title>
	</head>
	<body>
	{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}</h1>
<!--		<a href="/rango/restricted/">Restricted page</a>-->
		<br/>
		<a href="/rango/logout/">Logout</a>
	{% else %}
		<h1>Rango says... hello world !</h1>
		<a href="/rango/register">Register here!</a>
		<br/>
		<a href="/rango/login/">Login</a><br />
	{% endif %}
	<h3>Next list of categories</h3>
	{%if categories%}
<ul>
		{% for category in categories %}
<!--	<li> <a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li> -->
	<li> <a href="{% url 'rango:category' category.url %}">{{ category.name }}</a></li> 
		{% endfor %}
</ul>
	{% else %}
<strong>There is no categories present</strong>
	{% endif %}
<!-- 5 most viewed pages here-->
	<h3>5 most viewed pages </h3>
	{% if most_pages %}
		<ul>
				{% for page in most_pages %}
				<li><a href="{{page.url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		There is no most viewed pages! :(
	{% endif %}
<!--	 <strong>{{ boldmessage }} </strong><br />-->
<br/>
<br/>
	{% if user.is_authenticated %}
	<a href="/rango/add_category/">Add a new Category</a>
	{% else %}
	Please <a href="/rango/login/">login,</a> if you wanna create new category!
	{% endif %}
<br>
	<a href="/rango/about/">About</a><br />
	<br/>

	</body>
</html>
