<!DOCTYPE html>
<html>

	<head>
	<title>Rango</title>
	</head>
	
	<body>
		<h1>Rango says...</h1>
	{%if categories%}
<ul>
		{% for category in categories %}
<!--	<li> <a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li> -->
	<li> <a href="{% url 'rango:category' category.url %}">{{ category.name }}</a></li> 
		{% endfor %}
</ul>
	{% else %}
<strong>There is no categories present</strong>
	{% endif %}
<!-- 5 most viewed pages here-->
	<h3>5 most viewed pages </h3>
	{% if most_pages %}
		<ul>
				{% for page in most_pages %}
				<li><a href="{{page.url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		There is no most viewed pages! :(
	{% endif %}
<!--	 <strong>{{ boldmessage }} </strong><br />-->
	<a href="/rango/add_category/">Add a new Category</a>
	<a href="/rango/about/">About</a><br />
	</body>
</html>
