<!DOCTYPE html>
<html>

	<head><title>Rango says!</title>
	</head>
<body>
<h1>Register with Django!</h1>
{% if registered %}

Rango says: <strong>Thank's for you registering ! :) </strong>
<a href="/rango/">Return to homepage</a>
{% else %}
Rango says: <strong>register here!</strong><br />

	<form id="user_form" method="post" action="/rango/register/" enctype="multipath/form-data">
	{% csrf_token %}
	{{ user_form.as_p  }}
	{{ profile_form.as_p }}
	<input type="submit" name="Submit" value="Register" />
	</form>
	{% endif %}
	

</body>

</html>
